doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://use.fontawesome.com/releases/v6.1.1/js/all.js") 
        link(rel="stylesheet", href="./public/css/index.css")
        title Document
    body 
        header 
            h1 Zooooooooooooom
            h9 by - dawit
                div(class="welcome")
                    form(class="welcome-form")
                        input(class="welcome-input input-css", placeholder="room name", required, type="text") 
                        button Enter / Join
        main

            div(class="call")
            
                div(class="mic-box")
                        select(class="mic-select fade-in")
                div(class="video-box")
                    div(class="my-video-box")
                        video(class="my-video", poster="./public/assets/Stitch.jpg", autoplay, playsinline, width="600", height="338")
                        video(class="my-voice", autoplay, playsinline, width="0", height="0")
                    div(class="peer-video-box")
                        video(class="peer-video", poster="./public/assets/Stitch.jpg", autoplay, playsinline, width="600", height="338")
                        video(class="peer-voice", autoplay, playsinline, width="0", height="0")
                    
                div(class="btn-box")
                    button(class="mute-btn") 
                        div(class="microphone-slash")
                            i(class="fa-solid fa-microphone")
                        div(class="microphone-non-slash displayToggle")
                            i(class="fa-solid fa-microphone-slash")

                    button(class="camera-btn")
                        div(class="cam-slash displayToggle")
                            i(class="fa-solid fa-video")
                        div(class="cam-non-slash")
                            i(class="fa-solid fa-video-slash")

                    div(class="toggle-change-btn")    
                        button(class="change-btn") 
                            div(class="cam-change")
                                i(class="fa-solid fa-arrows-rotate")
                                
                
                    
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")